* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Trebuchet MS", sans-serif;
}

h1 {
    margin: 0.67em 0;
}
h2 {
    margin: 0.75em 0;
}
h3 {
    margin: 0.83em 0;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
