* {
    margin: 0;
    padding: 0;

    min-width: 0;

    overflow-wrap: break-word;

    box-sizing: border-box;

    scroll-behavior: smooth;

    font-family: "Trebuchet MS", sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
    position: relative;
}

:is(h1, h2, h3, h4, h5, h6) > a.anchor {
    padding-right: 0.2em;

    left: -0.75em;

    display: none;

    position: absolute;
    float: left;
}

:is(h1, h2, h3, h4, h5, h6):hover > a.anchor {
    display: unset;
}

:is(h1, h2, h3, h4, h5, h6) > a.anchor:hover {
    text-decoration: underline;
}

h1 {
    margin: 0.67em 0;
}
h2 {
    margin: 0.75em 0;
}
h3 {
    margin: 0.83em 0;
}

a:any-link {
    color: inherit;
}

a:not(p > a) {
    text-decoration: none;
}

p {
    margin: 1em 0;
}

p + ul, p + ol {
    margin: 1em 0;
    padding-left: 2.5em;
}

code.inline {
    padding: 0.2em;

    border-radius: 3px;

    font-size: 85%;

    background: hsl(220 13% 95.5%);
}

code.block {
    display: block;

    padding: 0.5em;

    border-radius: 4px;

    border: 1px solid hsl(216 9.8% 90%);

    white-space: pre-wrap;

    background: hsl(220 13% 95.5%);

    font-size: 0.875rem;
    line-height: 1.125rem;
}

input, textarea {
    border-radius: 3px;
    border: black 1px solid;
}

textarea {
    resize: none;

    font-size: inherit;
}

output.success {
    color: green;
}

output.failure {
    color: red;
}
