#container {
    width: 100%;

    padding: 1em 4%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;

    column-gap: 2em;
}

@media only screen and (max-width: 600px) {
    #container {
        padding-left: 8%;
        padding-right: 8%;

        display: flex;
        flex-direction: column;
    }
}

#main {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#title-container {
    margin-bottom: -0.67em;

    display: inline-flex;

    align-items: center;

    gap: 0.5em;
}

#meaning-option-form {
    padding: 0.1em;

    border-radius: 5px;
    border: black 3px solid;
}

#meaning-option-form > * {
    vertical-align: middle;
}

#meaning-paragraph {
    white-space: pre-wrap;
}

#recently-added-container {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#make-changes-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

#make-changes-form {
    display: flex;

    flex-direction: column;
}

#make-changes-form :is(label, input, button) {
    margin: 0.25em 0;
}

#make-changes-form label {
    font-weight: bold;
}

#make-changes-form button {
    min-width: 10%;

    padding: 0.5em 1em;
}

#changes-label-container {
    display: inline-flex;

    align-items: center;

    gap: 0.5em;
}

#display-option-div {
    padding: 0.1em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: black 3px solid;
    border-bottom: none;
}

#display-option-div > * {
    vertical-align: middle;
}

#display-option-div > button {
    margin: 0.25em;
}

#changes-textarea, #changes-div {
    min-height: 100%;

    border-radius: 3px;
    border: black 1px solid;
}

#changes-div {
    min-height: 10lh;

    white-space: pre-wrap;
}

#make-changes-output {
    font-style: italic;
}
