#container {
    width: 100%;

    padding-left: 4%;
    padding-right: 4%;

    display: flex;
    justify-content: space-between;

    gap: 2em;
}

@media only screen and (max-width: 600px) {
    #container {
        padding-left: 8%;
        padding-right: 8%;

        flex-direction: column;
        gap: 0;
    }
}

#main {
    flex: 2;
}

#aside-container {
    flex: 1;
}
