#container {
    width: 100%;

    padding-left: 4%;
    padding-right: 4%;

    display: flex;
    justify-content: space-between;

    gap: 2em;
}

@media only screen and (max-width: 600px) {
    #container {
        flex-direction: column;
        gap: 0;
    }
}

#main {
    flex: 2;
}

#title-container {
    display: inline-flex;

    align-items: center;

    gap: 0.5em;
}

#meaning-option {
    padding: 0.1em;

    border-radius: 5px;
    border: black 3px solid;
}

#meaning-option > * {
    vertical-align: middle;
}

#recently-added {
    flex: 1;
}
